@import "../node_modules/bootstrap/scss/functions";



$btn-border-radius: 30px; 

//Spacers

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 7.3,


) !default;

$primary: #4B6468;
$secondary:#F4F4BE;
$customcolour: #F4D9BE;
$footercolour: #7F9599;
$basketbg:#F4D9BE;
$basketorange: #D35936;
$basketbrown: #411530;

.basketbrown{
  color: $basketbrown;
}

.basketorange{
  color: $basketorange;
}

.basketbrownbg{
  background-color: $basketbrown;
}

.basketorangebg{
  background-color: $basketorange;
}
.basket{
    background-color: $basketbg;
    background-image: url(/images/Desktop\ -\ 1140px\ \(Recommended\).png);
    background-repeat: no-repeat;
    background-position:bottom;}


.footer{
    background-color: $footercolour;
}
.rounded-circle{
    background-color: $customcolour;

}


.product-add:hover {
    color: $footercolour !important; 
  }

  .product-add {
    transition: color 0.3s ease;
  }

.category-box:hover {
    background-color: $customcolour !important; 
  }

  .category-box {
    transition: background-color 0.5s ease;
  }
.fw-extrabold {
    font-weight: 800 !important;
}
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.btn-group{
    position:relative;
    z-index: 2;
    margin-top: -3.125rem;
}

.btn-group label {
    width: 15.625rem; 
    border-radius: $btn-border-radius;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: #cac9c9; 
    }

    border: none;

}


.btn-custom::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    height: 100%;
    width: 1px;
    background-color: #fff;
    border-radius: 10px;
}

.btn-group input[type="radio"].btn-check:checked + label {
    font-weight: bold;
    background-color: #FFFFFF;
    color: inherit;
}

.btn-group input[type="radio"].btn-check:not(:checked) + label {
    font-weight: normal;
    background-color: #EFEDEA;
    color: inherit;
    &:hover {
        background-color: #b3b3b3; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.btn-group input[type="radio"].btn-check:checked + label i {
    color: #D35936;
}

.btn-group input[type="radio"].btn-check:not(:checked) + label i {
    color: #000000;
}

.toggle-switch {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;

    .text-off,
    .text-on {
        padding: 0.5em;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
        }
    }
}
  
.heart-checkbox {
    display: none;
  }

  .heart-checkbox:hover + label .bi-heart-fill{
    color: red;
  }

  .heart-checkbox + label {
    position: relative;
  }

  .heart-container {
    display: flex;
    background-color: #0E3E4E;
    padding: 10px;
    border-radius: 0px 32px 0px 32px;
    position: absolute;
  }

  .heart-checkbox + label .bi-heart-fill {
    display: inline-block;
    color: white;
  }

  .heart-checkbox:checked + label .bi-heart-fill {
    color: red;
  }
  
.circle {
    width: 32.813rem;
    height: 32.813rem;
    background-color: #5F7A80;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circle img {
    max-width: 100%;
    max-height: 100%;
}

.row {
    justify-content: space-around;
    align-items: start;
    display:grid;
}
   .square-image {
    object-fit: cover;
    border-radius: 15px 15px 15px 15px; 
  }


.red{
    border: red 1px solid;
}

.blue{
    border: blue 1px solid;
}
 .veg-bg{
    background-image: url(/images/veg\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
 }

 .veg2-bg{
    background-image: url(/images/veg\ product\ page\ 1.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:left;
 }

 .bubble-container {
    position: relative;
  }

  .speech-bubble {
    position: absolute;
    background-color: #fff; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
  }

  .speech-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border: solid transparent;
    border-right-color: $light;
    border-width: 35px; 
    margin-top: -85px; 
    transform: rotate(90deg);
  }


   @import "../node_modules/bootstrap/scss/bootstrap";
